@use "../util/" as u;

.card {
  background-color: #{hsl(var(--white))};
  border-radius: u.rem(32);
  @include u.breakpoint(desktop) {
    display: flex;
    max-width: 740px;
  }
}

.title {
  font-weight: 700;

  @include u.breakpoint(desktop) {
    font-size: u.rem(24);
  }
}
