@use "../util/" as u;

.result {
  text-align: center;
  background: linear-gradient(
    180deg,
    #{hsl(var(--light-slate-blue))},
    #{hsl(var(--light-royal-blue))}
  );
  color: #{hsl(var(--white))};
  padding: u.rem(22) u.rem(16);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0 0 u.rem(32) u.rem(32);

  &__score-wrap {
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      #{hsl(var(--light-royal-blue))},
      #{hsl(var(--light-slate-blue))}
    );
    width: u.rem(150);
    height: u.rem(150);
    margin-top: u.rem(20);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__average {
    font-size: u.rem(52);
    font-weight: 700;
  }

  &__word {
    margin-top: u.rem(14);
    font-size: u.rem(24);
  }

  &__info {
    text-align: center;
    padding: u.rem(0) u.rem(24) u.rem(18) u.rem(24);
    font-size: u.rem(16);
    color: #{hsl(var(--white), 70%)};
  }
}
