:root {
  // Primary colors
  --light-red: 0, 100%, 67%;
  --orange-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;

  // Gradients
  --light-slate-blue: 252, 100%, 67%;
  --light-royal-blue: 241, 81%, 54%;

  //   Gradients for circle
  --violet-blue: 256, 72%, 46%, 1;
  --persian-blue: 241, 72%, 46%, 0;

  //   Neutral
  --white: 0, 0%, 100%;
  --pale-blue: 221, 100%, 96%;
  --light-lavender: 241, 100%, 89%;
  --dark-gray-blue: 224, 30%, 27%;
}
